<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="87.1.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="87.1.13" targetFramework="net472" />
  <package id="CefSharp.Common" version="87.1.132" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="87.1.132" targetFramework="net472" />
  <package id="Markdig" version="0.23.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.705.50" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
</packages>